*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}


header{
	background-color: rgb(41, 7, 54);
	height: 7rem;
	color: rgb(255, 255, 255);
	margin-bottom: 1rem;
    text-align: center;
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.logo{
	
    border-radius: 50%;
    width: 5rem;
    right: 5rem;
    
 }

header h1{
	font-size: 2rem;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2rem;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
body {
	height: max-content;
	flex-wrap: wrap;
	background-color: rgb(213, 210, 210);
    
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3rem;
	display: block;
	padding-bottom: .5rem;
	border-bottom: 1px solid rgb(48, 45, 45);
	margin-bottom: .5rem;
}



.comidas{
    width: 3 rem;
    padding: 300px ;
    display: flex;
    flex-wrap: wrap;
    
    
    height: auto;
    
    padding: 5rem 0 0 5rem;
    /* mesma coisa que colocar cada um em um padding só */
}
.comida__titulo{
    font-size: 1.500rem;
}

.comida__descricao{
    font-size: 1.200;
    text-align: justify;
}

.comida__conteudo{
    padding: 1rem;
}

.comida__imagem{
    height: 460px;
    width: 472px;
    box-shadow: 20%;
    
    
    
    }



table{
	width: 100%;
	margin-bottom : .5rem;
    table-layout: fixed;

}

td, th {
	padding: .7rem;
	margin: 0;
	border: 1px solid rgb(38, 38, 38);
	text-align: center;
}

th{
	font-weight: bold;
	background-color: rgb(161, 161, 161);
}

label{
	color: rgb(43, 33, 49);
	display: block;
	margin-bottom: .2rem;
}

.campo{
	margin: 0;
	padding-bottom: 1rem;
	width: 100%;
	border: 1px solid rgb(19, 18, 18);
	padding: .7rem;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5rem;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5rem 2rem;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: rgb(255, 255, 255);
	background-color:#281243;
	border-color: #040104;
	width: 20%;
    display: block;
    clear: both;
    margin: 5px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
	
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}

.paciente-invalido {
	background-color: lightcoral;
}

#mensagens-erro {
	color: red;
}

.fadeOut {
	opacity: 0;
	transition: 0.5s;
}



.invisivel {
	display: none;
}

footer{
	background-color: rgb(72, 71, 71);
	color: #ffffff;
}
